<div class="container_big-card">
    <div class="big-card__image">
        <img 
        src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png" 
        alt=""
        width="100%">
    </div>
    <div class="big-card__title">
        <h1>
            <a href="#">
                Saiu a nova Versão do angular
            </a>
        </h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Mussum Ipsum, cacilds vidis litro abertis. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Aenean aliquam molestie leo, vitae iaculis nisl. Detraxit consequat et quo num tendi nada. Atirei o pau no gatis, per gatis num morreus.
            </a>
        </p>
    </div>
</div>