<div class="container_big-card">
    <div class="big-card__image">
        <img 
        src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png" 
        alt=""
        width="100%">
    </div>
    <div class="big-card__title">
        <h1>
            <a href="#">
                Saiu a nova Versão do angular
            </a>
        </h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Mé faiz elementum girarzis, nisi eros vermeio. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Paisis, filhis, espiritis santis.
                Atirei o pau no gatis, per gatis num morreus. Diuretics paradis num copo é motivis de denguis. Si num tem leite então bota uma pinga aí cumpadi! Não sou faixa preta cumpadi, sou preto inteiris, inteiris.
                Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Si num tem leite então bota uma pinga aí cumpadi! Delegadis gente finis, bibendum egestas augue arcu ut est. Manduma pindureta quium dia nois paga.
            </a>
        </p>
    </div>
</div>