<div class="container__main">
    <div class="container__body">
        <div class="container__image">
            <img 
            src="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/1275957/retina_1708x683_cover-top-18-most-common-angularjs-developer-mistakes-41f9ad303a51db70e4a5204e101e7414.png" 
            alt="">
        </div>
        
        <div class="container__title">
            <h1>
                <a href="#">
                    Saiu a nova Versão do angular
                </a>
            </h1>
        </div>    
    </div>

    <hr>
</div>

