header{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.container__articles{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.articles__main{
    width: 35%;
    margin-left: 20px;
    margin-right: 20px;
}

.articles__others{
    width: 40%;
    height: 900px;
    margin-left: 20px;
    margin-right: 20px;
}